@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('./assets/fonts/open-sans-600.woff2') format('woff2'),
    url('./assets/fonts/open-sans-600.woff') format('woff'),
    url('./assets/fonts/open-sans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('./assets/fonts/open-sans-700.woff2') format('woff2'),
    url('./assets/fonts/open-sans-700.woff') format('woff'),
    url('./assets/fonts/open-sans-700.ttf') format('truetype');
}

* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

input[type='checkbox'] {
  @apply text-blue rounded-md h-6 w-6 border-1 border-black bg-none bg-transparent transition-all ring-blue;
}

input {
  @apply rounded-md;
}

button[prim] {
  @apply bg-blue py-2 px-4 text-white rounded-md transition-all hover:bg-blue-600;
}

form {
  &.error input {
    @apply border-red-500;
  }
}
